* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* app.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: #00000086;
    color: #ffffff;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    height: 50px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}